* {
    font-family: arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

li a {
    font-size: 14px;
    display: flex;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    color: black;
    
}

li a:hover {
    text-decoration: underline;
}

.left-side, .right-side {
    display: flex;
}

.right-side li a {
    font-size: 13px;
}

.app-icon {
    width: 24px;
    height: 24px;
}

.account-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.google-logo {
    display: flex;
    justify-content: center;
    padding-top: 0px;
} 

.search-wrapper {
    display: flex;
    justify-content: center;
}

.search-bar-container {
    display:flex;
    flex-direction: row;
    width: 582px;
    height: 44px;
    border: 1px solid black;
}

.search-magnify-icon {
    display: flex;
    width: 33px;
    height: 44px;
    justify-content: center;
    align-items: center;
}